<footer id="footer">
    <div class="inner">
      <div class="flex">
        <div class="copyright d-flex my-auto">
          <p class="my-auto">&copy; Nalida. Design: <a href="https://templated.co">TEMPLATED</a>.</p>
        </div>
        <div>
          <div>
            <ul class="icons mb-0">
              <li><a href="https://www.facebook.com/nalida2/"><span>facebook</span></a></li>
              <li><a href="https://www.instagram.com/nalida_official/"><span>instagram</span></a></li>
              <li><a href="https://brunch.co.kr/@nalida"><span>brunch</span></a></li>
            </ul>
          </div>
          <div class="d-flex justify-content-end">
            <span id="email" style="color:gray">nalidaofficial@gmail.com</span>
          </div>
        </div>
          <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li> -->
      </div>
    </div>
  </footer>
