<footer id="footer">
    <div class="inner">
      <div class="flex">
        <div class="copyright">
          &copy; Nalida. Design: <a href="https://templated.co">TEMPLATED</a>.
        </div>
        <ul class="icons">
          <li><a href="https://www.facebook.com/nalida2/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://www.instagram.com/nalida_official/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="nalidaofficial@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
          <!-- TODO: brunch, kakao plus friend -->
          <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li> -->
          <!-- <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li> -->
        </ul>
      </div>
    </div>
  </footer>
