<div class="card mb-4">
  <div class="image-container w-100"
    [ngStyle]="{'background-image': 'url(&quot;/' + post.image + '&quot;)'}"></div>
  <div class='card-body p-2'>
    <h3 class="card-title bold">{{ post.title }}</h3>
    <p class="card-text text-muted text-truncate">{{ convertedDescription }}</p>
    <div class="row">
      <span *ngFor="let tag of post.tags"><a href="nalida-story/tags/{{ tag }}">#{{ tag }}</a></span>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div class="image round">
          <img class="img-thumbnail" src="images/member_{{ post.author }}_250.jpg" alt="{{ post.author }}" style="width: 60px;" />
      </div>
      <a routerLink="/nalida-story/post/{{post.id}}" class="button special my-auto">띔보기</a>
    </div>
  </div>
</div>