#header {
    color: #d4e0ef;
    .logo {
        font-weight: 700;
        font-size: 2em;
    }
    
    a {
        font-size: 1em;
    }
}

#header[class*=withoutImage] {
    background: #03344c;
}
#header[class*=withImage] {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}