.withoutImage {
  color: #d4e0ef;
  // color: #fafafa;
  // background: #5385c1;
  // background: #3b3b3b; // monto
  background: #03344c;
  top: 1.4em;
}

#header .logo {
  font-weight: 700;
  font-size: 2em;

}

#header a {
  font-size: 1em;
}
