<app-header image="images/nalida_intro_image.jpg"></app-header>
  <!-- Two -->
  <section id="two" class="wrapper special">
      <div class="inner">
        <header>
          <h2> 날리다: 나를 알리다 </h2>
          <h4> 모든 사람들이 각자의 색으로 빛날 수 있도록, <br> 나를 이해하고, 바라보는 법을 함께 고민합니다. </h4>
        </header>
        <header>
          <h3> 워크샵 소개 </h3>
        </header>
        <div class="row">
          <app-introduction-post-view
            *ngFor="let post of posts"
            [post]="post" 
            class="col-lg-4 col-md-6 mb-4"></app-introduction-post-view>
        </div>

        <!-- people -->
        <header>
          <h3> 날리다 사람들 </h3>
        </header>
        <div class="flex flex-4">
          <div class="box person">
            <div class="image round">
              <img src="images/member_kiroong_250.jpg" alt="kiroong" />
            </div>
            <h3>최길웅</h3>
            <p>호기심 많은 초보 기획자입니다. 사람들의 삶의 질을 높여주는 저만의 기술을 찾고 있습니다.</p>
          </div>
          <div class="box person">
            <div class="image round">
              <img src="images/member_juheon_250.png" alt="juheon" />
            </div>
            <h3>이주헌</h3>
            <p>음악을 좋아하는 공학도입니다. 더 많은 사람들이 서로 배려하는 행복한 세상을 꿈꿉니다.</p>
          </div>
          <div class="box person">
            <div class="image round">
              <img src="images/member_ganghyeon2.jpg" alt="ganghyeon" />
            </div>
            <h3>이강현</h3>
            <p>새로운 도전을 좋아하는 낙성대 주민입니다. 사실 워크샵 참가하고 싶어서 날리다에 들어온건 비밀!</p>
          </div>
          <div class="box person">
            <div class="image round">
              <img src="images/member_sujin_crop.jpg" alt="sujin" />
            </div>
            <h3>차수진</h3>
            <p>작은 소리에 귀 기울이는 디자이너입니다. 공감이 좀 더 따뜻한 사회로 변화시키길 바랍니다:D</p>
          </div>
        </div>
      </div>
    </section>